---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import SocialPill from '../icons/SocialPill.astro';
import GitHubIcon from '../icons/GitHub.astro';
import EmailIcon from '../icons/Email.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Marco Ugarte - Desarrollador y Programador Web" description="Contrata a Marco Ugarte para crear tu aplicación web">
	<main class="px-4">
		<SectionContainer id="top" class="py-44 pb-32">
			<img class="rounded-full w-12 h-12 mb-4" 
         	src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCFDZGWeN2WNegqQax0ETLlwFc11SKrIymhw&s"
         	alt="marco photo"/>
			<h1 class="text-white text-3xl md:text-4xl 
			lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, Soy Marco Ugarte
				<a 
				href="https://www.linkedin.com/in/marcougartedeveloper" 
				target="_blank" 
				rel="noopener"
				class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-green-200">+1 años de experiencia.</span> <span class="text-white">Desarrollador web. Con conocimientos en automatización y Base de Datos.</span>
			</h2>
			<nav class="flex gap-4 mt-7 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/marcougartedeveloper">
						<LinkedInIcon  class="size-4 md:size-6"/>
						<p class="text-white">LinkedIn</p>
					</SocialPill>
					<SocialPill href="https://github.com/MrUgarte">
						<GitHubIcon  class="size-4 md:size-6"/>
						<p class="text-white">GitHub</p>
					</SocialPill>
					<SocialPill  href="mailto:marcougarte1998@gmail.com">
						<EmailIcon  class="size-4 md:size-6"/>
						<p class="text-white">marcougarte1998@gmail.com</p>
					</SocialPill>
			</nav>
		</SectionContainer>
		
		<SectionContainer id="proyectos">
			<h2 class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-8"/>
				Proyectos
			</h2>	
			<Projects />
		</SectionContainer>
	</main>
</Layout>